body,html{
    height: 100%;
}

.form-control{
    margin-bottom: 15px;
}

img{
    height: 80px;
    width: 70px;
}

#msgError{
    color: red;
    margin-bottom: 10px;
}

.row{
    padding-top: 1em;
}

#menu{
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}

.btn[disabled]{
  opacity: 1;
}