p {
    color: blueviolet;
    font-size: 14;
    font-family: Verdana;
}
body {
    background-color:rgb(204, 235, 195);
}
.menu{
    font-size: 12px;
    font-weight: bold;
    color: green;
    font-family: Verdana;
}
.lista{
    font-size: 12px;
    font-weight: lighter;
    color:indigo;
    font-family: Verdana;
}

#formulario{
    background-color:purple;
    color: aquamarine;
}

label{
    color: aquamarine;
    font-size: 14pt;
    font-family: Verdana;
    font-weight: bold;
}

.campo_nome{
    position: absolute;
    left: 95px;
    width: 260px;
    color: red;
}

.campo_email{
    position: absolute;
    left: 95px;
    width: 300px;
    color: blue;
}

.campo_senha{
    position: absolute;
    left: 95px;
    width: 50px;
    color: blue;
}

.campo_area{
    position: absolute;
    left: 150px;
}
